body{
background: linear-gradient(-30deg,  #000 0%,#9b5600 50%, #dcba06 70%, #fff 100%);
background-repeat: no-repeat;
}
.App {
  text-align: center;
  
}

.Ttl{
  font-family: 'Kaushan Script', cursive;
  transform: rotate(-9deg);
  font-size: 70px;
  text-align: center;
  margin-left: 108px;
  color: #ffffffcb;
text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
color: #4e1313;

}

ul{
  display: flex;
  flex-wrap: wrap;

  
}  
li{
  list-style: none;
  font-size: 30px;
 

}

img{
  width: 50% ;
  heigth: 50%
}
.beer{
  background-color: rgb(116, 110, 103);
  margin-right: 10px;
  border-radius: 15px;
  margin-top: 10px;
  
}
.title{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  padding: 20px
}
.glouglou{
 padding-top: 15px;
}
.foam{
  background-image: url(/img/Bg-Beer.png);
  background-size: 100%;
}